
.info_container{
    text-align: center;
    margin-top: 25px;
    
}

.stat_container{
    padding: 10px;
    font-size: medium;
}

h1{
    text-align: center;

}

.map_button{
    border: 1px solid black;
    background-color: transparent;
    height: 75px;
    width: 150px;
    padding: 10px;
    
}

#map_buttons{
    position: fixed;
    top: 5%;
    right: 5%;
    
}

.choice_container{
    position: fixed;
    top: 0;
    padding-top: 2.5%;
    width: 100%;

}


.container{
    position: relative;
    top:75px;
   

}
